/*Variables*/

/*Primary Colors*/
/*background-colors*/
$backgroundColor: hsl(233, 49%, 7%);
$cardColor: hsl(246, 38%, 16%);
$accentColor: hsl(277, 64%, 61%);

/*text-colors)*/
$headingStatsColor: hsl(0, 0%, 100%);
$paragraphColor: hsla(0, 0%, 100%, 0.75);
$statHeadingColor: hsla(0, 0%, 100%, 0.6);

/*fonts-family*/
$inter: "Inter", sans-serif;
$lexend: "Lexend Deca", sans-serif;

/*fonts-sizes*/
$normalFont: 0.9375em;
$headingFont: 2.25em;
$statFont: 1.5em;
$statTitleFont: 0.75em;

/*font-weights*/
$normalFont: 400;
$boldFont: 700;
